<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eus.ehu.tta.intel.di_educate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Login"
            android:label="@string/alogin" />
        <activity
            android:name=".NewAccount"
            android:label="@string/anewaccount" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/amenu" />
        <activity android:name=".SubMenuActivity" />
        <activity
            android:name=".LeoLeo1"
            android:label="@string/bleoleo1" />
        <activity
            android:name=".LeoLeo2"
            android:label="@string/bleoleo2" />
        <activity
            android:name=".LeoLeo3"
            android:label="@string/bleoleo3" />
        <activity
            android:name=".CorrectoActivity"
            android:label="@string/app_name" />
        <activity android:name=".Juego1" />
        <activity android:name=".Juego2" />
        <activity android:name=".Escucho1" />
        <activity android:name=".Escucho2" />
        <activity android:name=".Escucho3"></activity>
    </application>

</manifest>