<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eus.ehu.tta.intel.di_educate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.MainActivity" />
        <activity
            android:name="eus.ehu.tta.intel.di_educate.vista.Login"
            android:label="@string/alogin" />
        <activity
            android:name="eus.ehu.tta.intel.di_educate.vista.NewAccount"
            android:label="@string/anewaccount" />
        <activity
            android:name="eus.ehu.tta.intel.di_educate.vista.MenuActivity"
            android:label="@string/amenu" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.SubMenuActivity" />
        <activity
            android:name="eus.ehu.tta.intel.di_educate.vista.LeoLeo1"
            android:label="@string/bleoleo1" />
        <activity
            android:name="eus.ehu.tta.intel.di_educate.vista.LeoLeo2"
            android:label="@string/bleoleo2" />
        <activity
            android:name="eus.ehu.tta.intel.di_educate.vista.LeoLeo3"
            android:label="@string/bleoleo3" />
        <activity
            android:name="eus.ehu.tta.intel.di_educate.vista.CorrectoActivity"
            android:label="@string/app_name" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.Juego1" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.Juego2" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.Escucho1" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.Escucho2" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.Escucho3" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.Pre_Escucho3" />
        <activity android:name="eus.ehu.tta.intel.di_educate.vista.Seguimiento"></activity>
    </application>

</manifest>